.about {
  background-color: var(--secondary-light-background);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 20px;
  }
}
.about--container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.about__title {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}
.about__wrap-main {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.about__image {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 139px;
  }
}
.about__wrap-text {
  width: 220px;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    width: 334px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    font-size: 16px;
  }
}
.about__pre-text {
  color: var(--secondary-txt-color);
}
.about__text {
  color: var(--primarily-txt-color);
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.94;
  }
}
.about__btn {
  position: relative;
  margin-top: 20px;
  padding: 0 56px 0 37px;
  border: none;
  justify-content: left;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  &:hover,
  &:focus {
    background-color: var(--hover-button-background);
  }
}
.about__icon {
  position: absolute;
  left: 134px;
  fill: var(--title-color);
}
