:root {
  /* Світла тема тексту */
  --light-txt-color: #ffffff;
  /* Темна тема тексту */
  --primarily-txt-color: #907e82;
  --secondary-txt-color: #000000;
  --title-color: #ffa5ba;
  --accent-title-color: #d41443;
  /* Світла тема фону */
  --primarily-light-background: #e5e5e5;
  --secondary-light-background: #fff5f6;
  /* Темна тема фону */
  --accent-background-color: #ffb8ca;
}
