:root {
  /* Світла тема тексту */
  --light-txt-color: #ffffff;
  /* Темна тема тексту */
  --dark-menu-border: #e18298;
  --primarily-txt-color: #907e82;
  --secondary-txt-color: #000000;
  --title-color: #d41443;
  --accent-title-color: #ffa5ba;
  /* Світла тема фону */
  --primarily-light-background: #e5e5e5;
  --secondary-light-background: #fff5f6;
  --light-review-background: #fafafa;
  --hover-button-background: #ecebeb;
  /* Темна тема фону */
  --dark-menu-background: #e17992;
  --accent-background-color: #ffb8ca;
  --dark-product2-background: #f0d1a5;
  --dark-product3-background: #c2e297;
}
