<section class="hero" id="hero">
    <div class="hero__container container">
        <div class="title__thumb">
            <h1 class="hero__title">ice cream made with <span class="hero__accent">passion</span></h1>
            <nav>
                <ul class="hero__list list">
                    <li class="hero__item">
                        <a href="#products" class="hero__link link">Products</a>
                    </li>
                    <li class="hero__item">
                        <a href="#about" class="hero__link link">How it&#39;s made?</a>
                    </li>
                </ul>
            </nav>              
        </div>
        <div class="text__container">
        <div class="text__thumb--sm">
                <div class="circle--sm"></div>
                <p class="hero__text"><span class="hero__text hero__text--accent">16</span>cafes</p>            
        </div>
        <div class="text__thumb--sm">
            <div class="circle--sm"></div>
            <p class="hero__text"><span class="hero__text hero__text--accent">23</span>food trucks</p>
            
        </div>
        </div>
        <div class="text__thumb--lg">
            <p class="hero__text hero__text--about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et</p>
            <button class="hero__button" type="button">        
            <svg class="hero__icon">        
                <use href="./images/icons.svg#icon-arrow-right2"></use>
            </svg>
            </button>
        </div>
        <!-- Accent-picture -->
        <picture class="hero__picture hero__picture--primary">
            <!-- Desktop -->
            <source srcset="./images/hero-ice-cream-desktop.png        1x,
                            ./images/hero-ice-cream-desktop@2x.png     2x"
                            media="(min-width: 1200px)"
                            type="image/png"/>
            <!-- Tablet -->
            <source srcset="./images/hero-ice-cream-tablet.png         1x,
                            ./images/hero-ice-cream-tablet@2x.png      2x" 
                            media="(min-width: 768px)"
                            type="image/png"/>
            <!-- Mobile -->
            <source srcset="./images/hero-ice-cream-mob.png        1x,
                            ./images/hero-ice-cream-mob@2x.png     2x" 
                            media="(max-width: 767px)"
                            type="image/png"/>
            <img class="hero__image" src="./images/hero-ice-cream-mob.png" alt="ice cream photo">
        </picture>

        <!-- Secondary-picture MILK -->
        <picture class="hero__picture hero__picture--milk">
            <!-- Desktop -->
            <source srcset="./images/hero-milk-desktop.png        1x,
                            ./images/hero-milk-desktop@2x.png     2x" 
                            media="(min-width: 1200px)"
                            type="image/png"/>

            <!-- Tablet -->
            <source srcset="./images/hero-milk-tablet.png       1x,
                            ./images/hero-milk-tablet@2x.png    2x" 
                            media="(min-width: 768px)"
                            type="image/png"/>

            <img class="hero__image" src="./images/hero-milk-tablet.png" alt="milk photo">
        </picture>

        <!-- Secondary-picture GIRL -->
        <picture class="hero__picture hero__picture--girl">
            <!-- Desktop -->
            <source srcset="./images/hero-girl-desktop.png        1x,
                            ./images/hero-girl-desktop@2x.png    2x" 
                            media="(min-width: 1200px)"
                            type="image/png" />
            <!-- Tablet -->
            <source srcset="./images/hero-girl-tablet.png         1x,
                            ./images/hero-girl-tablet@2x.png      2x"
                            media="(min-width: 768px)"
                            type="image/png" />

            <img class="hero__image" src="./images/hero-girl-tablet.png" alt="girl with ice-cream photo">
        </picture>
        <div class="circle"></div>
    </div>
</section>
