<div class="mobile-menu is-hidden ">
    <div class="mobile-menu-wrapper">
        
    <button class="mobile-btn-close" type="button"  ><svg class="menu-cloce" width="30px" height="30px">
        <use href="images/icons.svg#icon-close_40px"></use>
    </svg></button>
    <ul class="mobile-menu-list list">
        <li class="mobile-menu-item item-btn"><button class="mobile-btn" data-modal-open>Buy now <span><svg class="mobile-span">
            <use href="images/icons.svg#icon-btn-arrow"></use>
        </svg></span></button></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Home</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">About us</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">How it’s made?</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="#products">Our products</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Contact</a></li>
    </ul>
    
    
    </div>
</div>