<div class="modal">
  <button type="button"></button>
  <p>headline</p>
  <p>visit nearby store to retrive your order</p>
  <form name="signup-form" autocomplete="off">
    <label class="signup-form_field">
      <span>Your name</span>
      <input type="text" name="name" autofocus placeholder="Chuck Rassel" />
    </label>
    <label class="signup-form_field">
      <span>Your email adress</span>
      <input type="email" name="email" placeholder="adress@mail.com" />
    </label>
    <label>
      <input type="checkbox" name="products" value="ice cream" />
    </label>
    <label>
      <input type="checkbox" name="products" value="ice coffee" />
    </label>
    <label>
      <input type="checkbox" name="products" value="milkshake" />
    </label>
    <button type="submit"></button>
  </form>
</div>
