<button type="button" data-modal-open>модалка</button>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close>модалка</button>
    <p class="modal_title">Your life's gonna be sweet!</p>
    <p class="modal_sub-title">visit nearby store to retrive your order</p>
    <form name="signup-form" autocomplete="off">
      <div class="signup-form_item">
        <label class="signup-form_label">
          <span class="signup-form_title">Your name</span>
          <input
            class="signup-form_input"
            type="text"
            name="name"
            autofocus
            placeholder="Chuck Rassel"
          />
        </label>
      </div>
      <div class="signup-form_item">
        <label class="signup-form_label">
          <span class="signup-form_title">Your email adress</span>
          <input
            class="signup-form_input"
            type="email"
            name="email"
            placeholder="adress@mail.com"
          />
        </label>
      </div>
      <div class="signup-form_item">
        <label class="signup-form_label">
          <input
            class="checkbox"
            type="checkbox"
            name="products"
            value="ice-cream"
          />
          <span class="signup-form_title">Ice cream</span>
        </label>
        <label class="signup-form_label">
          <input type="number" name="ice-cream-amount" value="1" max="10" />
        </label>
      </div>
      <div class="signup-form_item">
        <label class="signup-form_label">
          <input
            class="checkbox"
            type="checkbox"
            name="products"
            value="ice coffee"
          />
          <span class="signup-form_title">Ice coffee</span>
        </label>
        <label class="signup-form_label">
          <input type="number" name="ice-coffee-amount" value="1" max="10" />
        </label>
      </div>
      <div class="signup-form_item">
        <label class="signup-form_label">
          <input
            class="checkbox"
            type="checkbox"
            name="products"
            value="milkshake"
          />
          <span class="signup-form_title">Milkshake</span>
        </label>
        <label class="signup-form_label">
          <input type="number" name="milkshake-amount" value="1" max="10" />
        </label>
      </div>
      <button type="submit">Buy</button>
    </form>
  </div>
</div>
