
<!--КАРТКИ ВІДГУКІВ КЛІЄНТІВ-->
<!--Загальний контейнер-->
<div class="swiper-container">
    <!--Обов*язкова оболонка-->
    <div class="swiper-wrapper">


        <!--СЛАЙД1-->
        <div class="slider-swipe image-slider">

<article class="customer">
    <img src="./images/customers-img-1.png" class="customer__image" alt="учасник" />
    <div class="customer__summary-background">
        
    <p class="customer__summary-text">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
    congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>
    <svg class="home" width="32" height="4">
        <use href="./images/icons.svg#dots"></use>
    </svg>
    <h3 class="customer__summary-title">Emily, Los Angeles</h3>
   
</article>
        </div>

        <!--СЛАЙД2-->
        <div class="slider-swipe image-slider">
        
            <article class="customer">
                <img src="./images/customers-img-2.png" class="customer__image" alt="учасник" />
                <div class="customer__summary-background">
                   
                    <p class="customer__summary-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <svg class="home" width="32" height="4">
                    <use href="./images/icons.svg#dots"></use>
                </svg>
                <h3 class="customer__summary-title">Emily, Los Angeles</h3>
            
            </article>
        
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>